<% content_for :title do %>About<% end %>
<h3>About Shen Ge</h3>
<p>Shen Ge was born in Taixin, China. At the age of seven, he left China for Athens, Georgia and later Atlanta, Georgia where he excelled at Georgia Tech and graduated with high honors in aerospace engineering and physics. His journey then took him to Texas A&M where he received his Master's and invented a tool to deflect near earth asteroids. He followed up with this project and established an aerospace research company. Two years passed and he now lives in Houston, Texas working on a new health company.</p>

<p>Some of his favorites include:</p>

<blockquote>Time waits for no one. Experience as much as you can and do something meaningful.</blockquote>

<blockquote>The person who doesn't fail has never tried.</blockquote>

<blockquote>Personality can open doors but only character keeps it open.</blockquote>