<% content_for :title do %>Projects<% end %>
<h3>Projects of Shen Ge</h3>
<p>Shen Ge enjoys working on a variety of projects. There are some which I should relate here.</p>

<h4>Asteroid Detection</h4>


<h4>Asteroid Deflection</h4>



<h4>Asteroid Mining</h4>




